.character-limiter {
    color: #999;
    font-size: 11px;
    opacity: 0;
    position: relative;
    top: -2px;
    text-align: right;
    @include transition(opacity .218s, top .218s);

    &.focused {
        opacity: 1;
        top: 2px;
    }
}

.character-limiter-count {
    font-weight: 700;
}