.form-item {
    margin-bottom: 14px;

    label {
        color: $color-dark-gray;
        display: block;
        margin-bottom: 2px;
        text-transform: uppercase;
    }
}

.form-item-label {
    margin-bottom: 5px;
}

.textbox, .goog-textarea, .textarea {
    background: #f5f5f5;
    @include box-sizing(border-box);
    border: 0px none;
    border-bottom: 1px solid #f5f5f5;
    border-radius: 0px;
    height: 40px;
    padding: 2px 5px;
    width: 400px;
    -webkit-appearance: none;

    &::-webkit-input-placeholder {
        color: #ccc;
    }

    &:-moz-placeholder {
        color: #ccc;
    }
}

textarea.textbox {
    height: 100px;
    resize: vertical;
}

.goog-textarea {
    min-height: 60px;
}


.form-error {
    background: $color-yellow;
    @include box-sizing(border-box);
    color: $color-dark-gray;
    margin-bottom: 14px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 5px 0 5px;
    text-transform: uppercase;
    width: 400px;
    @include transition(opacity 1s, padding .5s, height .5s);

    &.visible {
        height: 26px;
        opacity: 1;
        padding: 3px 5px 3px 5px;
    }

}

.button {
    @include box-sizing(border-box);
    background: $color-lighter-gray;
    border: 1px solid $color-lighter-gray;
    color: #999;
    cursor: default;
    height: 28px;
    font-family: "Cabin", Arial, sans-serif;
    font-size: 11pt;
    display: inline-block;
    margin: 0 3px 0 0;
    line-height: 16px;
    padding: 5px 7px 0 12px;
    text-transform: uppercase;
    text-decoration: none;

    &.enabled {
        color: #4b4b4b;
        cursor: pointer;

        &.primary {
            background-color: $color-dark-gray;
            border-color: $color-dark-gray;
            color: #fff;
        }


        &.pressed {
            background-color: #fff;
            border-color: #ebebeb;
        }

        &.active,
        &.hover {
            background-color: $color-yellow;
            border-color: $color-yellow;
            color: #000;
        }

    }
}