{namespace morning.templates.NarratedVideo}

/**
 */
{template .main}
<div class="narrated-video">
  <div class="yt-player-container">
    <div id="youtube-player"></div>
  </div>
  <div class="narration">
    <div class="narration-timestamp"></div>
    <div class="narration-text"></div>
  </div>
</div>
{/template}
